/**
 * This stylesheet is used to print reveal.js
 * presentations to PDF.
 *
 * https://github.com/hakimel/reveal.js#pdf-export
 */

* {
	-webkit-print-color-adjust: exact;
}

body {
	margin: 0 auto !important;
	border: 0;
	padding: 0;
	float: none !important;
	overflow: visible;
}

html {
	width: 100%;
	height: 100%;
	overflow: visible;
}

/* Remove any elements not needed in print. */
.nestedarrow,
.reveal .controls,
.reveal .progress,
.reveal .playback,
.reveal.overview,
.fork-reveal,
.share-reveal,
.state-background {
	display: none !important;
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: 0 0 0 #000 !important;
}

.reveal pre code {
	overflow: hidden !important;
	font-family: Courier, 'Courier New', monospace !important;
}

ul, ol, div, p {
	visibility: visible;
	position: static;
	width: auto;
	height: auto;
	display: block;
	overflow: visible;
	margin: auto;
}
.reveal {
	width: auto !important;
	height: auto !important;
	overflow: hidden !important;
}
.reveal .slides {
	position: static;
	width: 100% !important;
	height: auto !important;
	zoom: 1 !important;

	left: auto;
	top: auto;
	margin: 0 !important;
	padding: 0 !important;

	overflow: visible;
	display: block;

	perspective: none;
	perspective-origin: 50% 50%;
}

.reveal .slides .pdf-page {
	position: relative;
	overflow: hidden;
	z-index: 1;

	page-break-after: always;
}

.reveal .slides section {
	visibility: visible !important;
	display: block !important;
	position: absolute !important;

	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
	min-height: 1px;

	opacity: 1 !important;

	transform-style: flat !important;
	transform: none !important;
}

.reveal section.stack {
	position: relative !important;
	margin: 0 !important;
	padding: 0 !important;
	page-break-after: avoid !important;
	height: auto !important;
	min-height: auto !important;
}

.reveal img {
	box-shadow: none;
}

.reveal .roll {
	overflow: visible;
	line-height: 1em;
}

/* Slide backgrounds are placed inside of their slide when exporting to PDF */
.reveal .slide-background {
	display: block !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: auto !important;
}

/* Display slide speaker notes when 'showNotes' is enabled */
.reveal.show-notes {
	max-width: none;
	max-height: none;
}
.reveal .speaker-notes-pdf {
	display: block;
	width: 100%;
	height: auto;
	max-height: none;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	z-index: 100;
}

/* Layout option which makes notes appear on a separate page */
.reveal .speaker-notes-pdf[data-layout="separate-page"] {
	position: relative;
	color: inherit;
	background-color: transparent;
	padding: 20px;
	page-break-after: always;
	border: 0;
}

/* Display slide numbers when 'slideNumber' is enabled */
.reveal .slide-number-pdf {
	display: block;
	position: absolute;
	font-size: 14px;
}

.reveal section img {
  border: none;
}

.reveal li.mini {
  font-size: 80%;
}

.reveal pre code {
  max-height: 480px;
}

.speaker-controls-notes {
  font-size: 80%;
}

section {
  top: 20px !important;
}

/* section.mini {
  font-size: 80%;
} */

section.mini pre {
  font-size: 50%;
}

section.size-l pre {
  font-size: 140%;
}

section.size-s pre {
  font-size: 40%;
}

section.size-xs pre {
  font-size: 30%;
}

p {
  text-align: left;
}

div.center p,
p.center {
  text-align: center;
}

ol,
ul {
  /* margin-left: auto;
  margin-right: auto; */
  display: table;
  text-align: left;
  width: 100%;
}
.slide-background.present div {
  background-position: right bottom;
}

.slide-background.present.title div {
  background-position: left bottom;
}

/* .slide-background.thanks.present div {
  background-position: right bottom;
} */

.bright {
  color: #ff2c2d !important;
}

li.strike {
  text-decoration: line-through;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
}

section.about li {
  font-size: 80%;
}

p.me {
  font-size: 120%
}

section.slogan {
  margin: 0 0 20px 0;
  color: #586e75;
  font-family: "League Gothic",
  Impact,
  sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
  font-size: 2.5em;
}

section.thanks,
section.thanks p,
section.about p {
  text-align: left;
}

.fll {
  float: left;
}

.flr {
  float: right;
}

.clear {
  clear: both;
}
