.reveal section img {
  border: none;
}

.reveal li.mini {
  font-size: 80%;
}

.reveal pre code {
  max-height: 480px;
}

.speaker-controls-notes {
  font-size: 80%;
}

section {
  top: 20px !important;
}

section.mini {
  font-size: 80%;
}

p.left {
  text-align: left;
}

