.reveal section img {
  border: none;
}

.reveal li.mini {
  font-size: 80%;
}

.reveal pre code {
  max-height: 480px;
}

.speaker-controls-notes {
  font-size: 80%;
}

section {
  top: 20px !important;
}

/* section.mini {
  font-size: 80%;
} */

section.mini pre {
  font-size: 50%;
}

section.size-xs pre {
  font-size: 40%;
}

p {
  text-align: left;
}

p.center {
  text-align: center;
}

ol,
ul {
  /* margin-left: auto;
  margin-right: auto; */
  display: table;
  text-align: left;
}
.slide-background.present div {
  background-position: right bottom;
}

.slide-background.present.title div {
  background-position: left bottom;
}

/* .slide-background.thanks.present div {
  background-position: right bottom;
} */

.bright {
  color: #ff2c2d !important;
}

li.strike {
  text-decoration: line-through;
}
